In [2]:
import numpy as np
import pandas as pd

In [31]:
Medal = [np.NaN, 'G', 'S', 'B', 'G', np.NaN, 'G', np.NaN, 'S', 'B', 'G', 'S','B']

In [78]:
data = pd.DataFrame(Medal, columns=['Medal']);
data

   Medal
0    NaN
1      G
2      S
3      B
4      G
5    NaN
6      G
7    NaN
8      S
9      B
10     G
11     S
12     B

In [ ]:
resu = data['Medal'].apply(lambda x: print(str(x)))

In [83]:
resu = data['Medal'].apply(lambda x: 1 if str(x) != 'nan' else 0)
resu

0     0
1     1
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
Name: Medal, dtype: int64

In [84]:
N = lambda x: 1 if str(x) != 'nan' else 0
print(N('G'))
print(N('NaN'))
print(N('nan'))

1
1
0